@model List<MilkyProject.WebUI.Dtos.Contact.ResultContactDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Default/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">Galeri </h3>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Mesajlar</h4>
                    <p class="card-description">
                        Aşagıdaki tablodan  mesajlar bilgilerini görüntüleyebilir,uzerinde işlem yapabilirsiniz.
                    </p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>

                                    <th>Adı</th>
                                    <th>Mail</th>
                                    <th>Konu</th>
                                    <th>Mesaj</th>
                                    <th>Sil</th>
                                    <th>Güncelle</th>

                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {

                                    <tr>

                                        <td>@item.contactID</td>
                                        <td>@item.email</td>
                                        <td>@item.subject</td>
                                        <td>@item.message</td>

                                        @* <td>@item.imageUrl</td> *@

                                        <td><a href="/Admin/Message/DeleteMessage/@item.contactID" class="btn btn-danger">Sil</a></td>
                                        <td><a href="/Admin/Message/UpdateMessage/@item.contactID" class="btn btn-success">Güncelle</a></td>

                                    </tr>

                                }



                            </tbody>
                        </table>
                        <a href="/Admin/Message/CreateMessage" class="btn btn-primary">Yeni Mesaj Girişi</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

